version: "3.5"

services:

  websocket-server:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /var/www
    container_name: city-expert-websocket-server
    expose:
      # TODO: expose нужен?
      - "5555"
    ports:
      - "8087:8087"
    networks:
      - websocket-proxy-net
    volumes:
      - ./:/var/www

networks:
  websocket-proxy-net:
    external:
      name: city-expert
